html,
body {
  min-height: 100%;
}
body {
  position: relative;
  background: #00a6f0 url('../img/olympic_bg.png') 0 0 repeat-y;
  height: 100%;
  background-size: 100%;
}
body:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/olympic_bg_cover.png") 0 0 no-repeat;
  background-size: 100%;
  z-index: -2;
}
body.cover-2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/olympic_bg_cover_2.png") 0 0 no-repeat;
  background-size: 100%;
  z-index: -2;
}
.op-header {
  position: relative;
}
.op-header:before,
.op-header:after {
  content: " ";
  display: table;
}
.op-header:after {
  clear: both;
}
.op-header img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.op-body:before,
.op-body:after {
  content: " ";
  display: table;
}
.op-body:after {
  clear: both;
}
.op-body.op-padding {
  padding: 0 10px;
}
.op-medals {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.op-medals:before,
.op-medals:after {
  content: " ";
  display: table;
}
.op-medals:after {
  clear: both;
}
.op-medals .medals-header {
  color: #fff;
  background: #00a6f0;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
}
.op-medals .medals-header:before,
.op-medals .medals-header:after {
  content: " ";
  display: table;
}
.op-medals .medals-header:after {
  clear: both;
}
.op-medals .medals-header section {
  position: relative;
  display: inline-block;
  height: 100%;
  font-size: 1.6rem;
  padding: 0 36px 0 10px;
  background: #ee3c96;
}
.op-medals .medals-header section:before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  height: 40px;
  width: 40px;
  background: #a33292;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.op-medals .medals-header section:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  height: 40px;
  width: 40px;
  background: #00a6f0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.op-medals .medals-header aside {
  position: absolute;
  right: 10px;
  display: inline-block;
  font-size: 1.4rem;
}
.op-medals .medals-content .medals-list {
  font-size: 1.4rem;
}
.op-medals .medals-content .medals-list > header {
  background: #fff;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e4f8ff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #e4f8ff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e4f8ff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe4f8ff', GradientType=0);
}
.op-medals .medals-content .medals-list > header:before,
.op-medals .medals-content .medals-list > header:after {
  content: " ";
  display: table;
}
.op-medals .medals-content .medals-list > header:after {
  clear: both;
}
.op-medals .medals-content .medals-list > ol {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.op-medals .medals-content .medals-list > ol > li {
  color: #fff;
  font-size: 1.3rem;
  padding: 4px 0;
}
.op-medals .medals-content .medals-list > ol > li:before,
.op-medals .medals-content .medals-list > ol > li:after {
  content: " ";
  display: table;
}
.op-medals .medals-content .medals-list > ol > li:after {
  clear: both;
}
.op-medals .medals-content .medals-list > ol > li .list-item.gold {
  color: #fff100;
}
.op-medals .medals-content .medals-list > ol > li .list-item.country img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 4px;
}
@media (max-width: 350px) {
  .op-medals .medals-content .medals-list > ol > li .list-item.rank {
    width: 10%;
  }
  .op-medals .medals-content .medals-list > ol > li .list-item.country {
    width: 30%;
  }
  .op-medals .medals-content .medals-list > ol > li .list-item.gold {
    width: 15%;
  }
  .op-medals .medals-content .medals-list > ol > li .list-item.silver {
    width: 15%;
  }
  .op-medals .medals-content .medals-list > ol > li .list-item.copper {
    width: 15%;
  }
  .op-medals .medals-content .medals-list > ol > li .list-item.count {
    width: 15%;
  }
}
.op-medals .medals-content .medals-list .list-item {
  float: left;
  width: 16.66666%;
  text-align: center;
}
.op-medals .medals-content .medals-list .list-item.rank {
  width: 12%;
}
.op-medals .medals-content .medals-list .list-item.country {
  text-align: left;
  width: 21.2222%;
}
.op-to-cheer {
  position: relative;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
.op-to-cheer:before,
.op-to-cheer:after {
  content: " ";
  display: table;
}
.op-to-cheer:after {
  clear: both;
}
.op-to-cheer .title {
  font-size: 1.5rem;
  color: #fff;
}
.op-to-cheer .title:before {
  display: inline-block;
  content: "";
  width: 20%;
  padding-bottom: 17%;
  background: url("../img/oil_china.png") center center no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.op-to-cheer .title span {
  margin-left: -1em;
  vertical-align: middle;
}
.op-to-cheer .title strong {
  color: #fff100;
}
.op-to-cheer .go-go-go {
  position: absolute;
  width: 35%;
  right: 0;
  top: 0;
  -webkit-transform: translate(0, 23%);
  transform: translate(0, 23%);
}
.op-to-cheer .go-go-go .go-btn {
  display: block;
  position: relative;
}
.op-to-cheer .go-go-go img {
  width: 100%;
  vertical-align: middle;
}
.op-to-cheer .go-go-go .anim {
  position: absolute;
  z-index: -1;
  display: block;
  top: -62%;
  width: 100%;
  padding-bottom: 28%;
  background: url("../img/btn_go_anim.png") top center no-repeat;
  background-size: contain;
  -webkit-animation: go-jump 0.6s linear infinite;
  animation: go-jump 0.6s linear infinite;
}
@-webkit-keyframes go-jump {
  0% {
    top: -62%;
  }
  25% {
    top: -52%;
  }
  50% {
    top: -40%;
  }
  75% {
    top: -52%;
  }
  100% {
    top: -62%;
  }
}
@keyframes go-jump {
  0% {
    top: -62%;
  }
  25% {
    top: -52%;
  }
  50% {
    top: -40%;
  }
  75% {
    top: -52%;
  }
  100% {
    top: -62%;
  }
}
.op-guess-area {
  margin-top: 30px;
}
.op-guess-area:before,
.op-guess-area:after {
  content: " ";
  display: table;
}
.op-guess-area:after {
  clear: both;
}
.op-guess-area header {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 10%;
  text-indent: -9999px;
}
.op-guess-area header.team-china {
  background: url("../img/team_china.png") top center no-repeat;
  background-size: contain;
}
.op-guess-area header.team-other {
  background: url("../img/team_other.png") top center no-repeat;
  background-size: contain;
}
.op-guess-area .area-more {
  text-align: right;
  display: block;
  padding-top: 20px;
}
.op-guess-area .area-more:before,
.op-guess-area .area-more:after {
  content: " ";
  display: table;
}
.op-guess-area .area-more:after {
  clear: both;
}
.op-guess-area .area-more a {
  font-size: 1.6rem;
  color: #fff100;
}
/**/
.op-oil-dynamic {
  position: relative;
}
.op-oil-dynamic:before,
.op-oil-dynamic:after {
  content: " ";
  display: table;
}
.op-oil-dynamic:after {
  clear: both;
}
.oil-station {
  background: #0081d8;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.oil-station:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  border: 10px dashed transparent;
  border-right: 20px solid #0a5599;
  border-top: none;
  z-index: -1;
}
.oil-station:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  border: 10px dashed transparent;
  border-left: 10px solid #0a5599;
  border-top: none;
  z-index: -1;
}
.oil-station strong {
  color: #fff100;
  font-weight: normal;
}
.oil-station .station-header {
  position: relative;
}
.oil-station .station-header:before,
.oil-station .station-header:after {
  content: " ";
  display: table;
}
.oil-station .station-header:after {
  clear: both;
}
.oil-station .station-header > .title {
  display: inline-block;
  width: 30%;
  height: 0;
  padding-bottom: 8.5%;
  vertical-align: middle;
  text-indent: -9999em;
  background: url("../img/station_title.png") 0 0 no-repeat;
  background-size: 100%;
}
.oil-station .station-header > .share {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  padding-top: 2%;
  font-size: 1.4rem;
}
.oil-station .station-header > .share a {
  color: #fff100;
  margin-left: 10px;
}
.oil-station .station-header > .share .icon-share {
  width: 20px;
  height: 18px;
  margin-top: -4px;
}
.oil-station .station-header:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.oil-station .station-info {
  font-size: 1.6rem;
  font-weight: lighter;
  margin: 15px 20px;
  text-align: center;
}
.oil-station .station-info:before,
.oil-station .station-info:after {
  content: " ";
  display: table;
}
.oil-station .station-info:after {
  clear: both;
}
.oil-station .station-form {
  position: relative;
  margin-top: 20px;
}
.oil-station .station-form:before,
.oil-station .station-form:after {
  content: " ";
  display: table;
}
.oil-station .station-form:after {
  clear: both;
}
.oil-station .station-form .form-control {
  float: left;
  width: 72%;
  position: relative;
  height: 0;
  padding-bottom: 15%;
}
.oil-station .station-form .form-control:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("../img/bg_oil_gun.png") left bottom no-repeat;
  background-size: contain;
  z-index: 1;
}
.oil-station .station-form .form-control .input {
  position: absolute;
  top: 8%;
  left: 7%;
  bottom: 37%;
  right: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-left: 20%;
  overflow: hidden;
}
.oil-station .station-form .form-control .input input {
  position: relative;
  outline: none;
  border: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 5%;
  background: none;
  font-size: 1.3rem;
  color: #fff;
}
.oil-station .station-form .form-control .input input::-webkit-input-placeholder {
  color: #eee;
}
.oil-station .station-form .form-btn {
  float: right;
  width: 28%;
  padding-right: 20px;
  margin-top: 1%;
}
.oil-station .station-form .form-btn .btn {
  display: block;
}
.oil-station .station-form .form-btn img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
}
.oil-roll {
  position: relative;
  margin: 9px 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.4rem;
}
.oil-roll:before {
  position: absolute;
  content: "";
  left: 0;
  top: -9px;
  width: 100%;
  height: 9px;
  background: url("../img/bg_wave_up.png") 0 0 repeat-x;
}
.oil-roll:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 9px;
  background: url("../img/bg_wave_down.png") 0 0 repeat-x;
}
.oil-roll .roll-nick {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}
.oil-roll .roll-num {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  margin-left: -1em;
}
.oil-roll header {
  color: #053f88;
  border-bottom: 1px solid #053f88;
  padding: 6px 0 12px;
}
.oil-roll header:before,
.oil-roll header:after {
  content: " ";
  display: table;
}
.oil-roll header:after {
  clear: both;
}
.oil-roll header .roll-nick {
  padding-left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.oil-roll .roll-list-wp {
  overflow: hidden;
  max-height: 390px;
  position: relative;
}
.oil-roll .roll-list {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
  position: relative;
  top: 0;
  -webkit-animation: anim-top 0s linear infinite;
  animation: anim-top 0s linear infinite;
}
.oil-roll .roll-list > li {
  margin-top: 5px;
}
.oil-roll .roll-list > li:before,
.oil-roll .roll-list > li:after {
  content: " ";
  display: table;
}
.oil-roll .roll-list > li:after {
  clear: both;
}
.oil-roll .roll-list > li .roll-avatar {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.oil-roll .roll-list > li .text {
  vertical-align: middle;
}
@-webkit-keyframes anim-top {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
@keyframes anim-top {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.op-oil-drum {
  margin-top: 20px;
}
.op-oil-drum:before,
.op-oil-drum:after {
  content: " ";
  display: table;
}
.op-oil-drum:after {
  clear: both;
}
.op-oil-drum img {
  width: 100%;
}
.op-oil-rank {
  margin-top: 20px;
  padding: 0 10px;
}
.op-oil-rank:before,
.op-oil-rank:after {
  content: " ";
  display: table;
}
.op-oil-rank:after {
  clear: both;
}
.op-oil-rank header {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 10%;
  text-indent: -9999px;
  background: url("../img/rank_title.png") top center no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list-wp {
  padding-bottom: 40px;
}
.op-oil-rank .rank-list {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
}
.op-oil-rank .rank-list > li {
  position: relative;
  margin-top: 5px;
  padding-left: 2em;
  counter-increment: item;
}
.op-oil-rank .rank-list > li:before,
.op-oil-rank .rank-list > li:after {
  content: " ";
  display: table;
}
.op-oil-rank .rank-list > li:after {
  clear: both;
}
.op-oil-rank .rank-list > li:before {
  display: inline-block;
  margin-left: -2em;
  vertical-align: middle;
  content: counter(item);
  color: #fff100;
}
.op-oil-rank .rank-list > li .rank-nick {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.op-oil-rank .rank-list > li .rank-num {
  display: inline-block;
  width: 30%;
  margin-left: -1em;
  vertical-align: middle;
  text-align: right;
}
.op-oil-rank .rank-list > li .rank-avatar {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.op-oil-rank .rank-list > li .text {
  vertical-align: middle;
}
.op-oil-rank .rank-list > li:nth-child(1),
.op-oil-rank .rank-list > li:nth-child(2),
.op-oil-rank .rank-list > li:nth-child(3) {
  float: none;
  display: inline-block;
  text-align: center;
  padding: 0 0 10px;
  vertical-align: bottom;
}
.op-oil-rank .rank-list > li:nth-child(1):before,
.op-oil-rank .rank-list > li:nth-child(2):before,
.op-oil-rank .rank-list > li:nth-child(3):before {
  display: none;
  content: none;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-nick,
.op-oil-rank .rank-list > li:nth-child(2) .rank-nick,
.op-oil-rank .rank-list > li:nth-child(3) .rank-nick {
  display: block;
  width: 100%;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-nick .text,
.op-oil-rank .rank-list > li:nth-child(2) .rank-nick .text,
.op-oil-rank .rank-list > li:nth-child(3) .rank-nick .text {
  display: block;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-num,
.op-oil-rank .rank-list > li:nth-child(2) .rank-num,
.op-oil-rank .rank-list > li:nth-child(3) .rank-num {
  display: block;
  width: 100%;
  margin-left: 0;
  font-size: 1.5rem;
  color: #fff100;
  text-align: center;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-avatar,
.op-oil-rank .rank-list > li:nth-child(2) .rank-avatar,
.op-oil-rank .rank-list > li:nth-child(3) .rank-avatar {
  width: 80%;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-avatar .qc-avatar:after,
.op-oil-rank .rank-list > li:nth-child(2) .rank-avatar .qc-avatar:after,
.op-oil-rank .rank-list > li:nth-child(3) .rank-avatar .qc-avatar:after {
  position: absolute;
  z-index: 2;
  content: "";
  right: 12%;
  bottom: 1%;
  width: 20%;
  height: 20%;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-avatar .avatar-box,
.op-oil-rank .rank-list > li:nth-child(2) .rank-avatar .avatar-box,
.op-oil-rank .rank-list > li:nth-child(3) .rank-avatar .avatar-box {
  left: 15%;
  right: 15%;
  bottom: 1%;
  top: 28%;
}
.op-oil-rank .rank-list > li:nth-child(1) {
  width: 40%;
  left: 30%;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-avatar .qc-avatar {
  background: url("../img/rank_gold.png") top center no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list > li:nth-child(1) .rank-avatar .qc-avatar:after {
  background: url("../img/rank_gold_num.png") 0 0 no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list > li:nth-child(2) {
  width: 30%;
  left: -40%;
}
.op-oil-rank .rank-list > li:nth-child(2) .rank-avatar .qc-avatar {
  background: url("../img/rank_silver.png") top center no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list > li:nth-child(2) .rank-avatar .qc-avatar:after {
  background: url("../img/rank_silver_num.png") 0 0 no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list > li:nth-child(3) {
  width: 30%;
  margin-left: -1em;
}
.op-oil-rank .rank-list > li:nth-child(3) .rank-avatar .qc-avatar {
  background: url("../img/rank_copper.png") top center no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list > li:nth-child(3) .rank-avatar .qc-avatar:after {
  background: url("../img/rank_copper_num.png") 0 0 no-repeat;
  background-size: contain;
}
.op-oil-rank .rank-list > li:nth-child(n+4) {
  clear: both;
}
/*icon*/
.medal-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -3px;
}
.medal-icon.icon-gold {
  background-image: url("../img/medal_gold.png");
}
.medal-icon.icon-silver {
  background-image: url("../img/medal_silver.png");
}
.medal-icon.icon-copper {
  background-image: url("../img/medal_copper.png");
}
/**/
.op-footer {
  width: 100%;
  padding-bottom: 10.5%;
  position: relative;
}
.op-footer:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -2;
  background: url("../img/olympic_bg_footer.png") center bottom no-repeat;
  background-size: 100%;
}
.op-back {
  display: inline-block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 30px;
  border-radius: 0 5px 5px 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: lighter;
  line-height: 1;
  text-align: center;
  padding: 1px 12px 2px;
}
.share-timeline {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.share-timeline .share-tip {
  position: relative;
  height: 100%;
  background: url("../img/share_img.png") top center no-repeat;
  background-size: 90%;
}
