.airport-body {
  padding: 10px;
}
.airport-box {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.airport-box .anchor {
  display: block;
}
.airport-box .airport-tag {
  position: absolute;
  left: -10px;
  top: 15px;
  width: 33%;
  z-index: 3;
}
.airport-box .airport-tag img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
.airport-box .airport-bg {
  position: relative;
  display: block;
}
.airport-box .airport-bg img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.airport-box .airport-bg .btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
  border: 1px solid #fff;
  line-height: 1;
  padding: 4px 15px;
  border-radius: 20px;
  background: rgba(247, 88, 66, 0.65);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.airport-box .airport-bg .btn i {
  font-weight: lighter;
  padding-left: 6px;
}
.airport-box .airport-text {
  padding: 10px;
  background: #fff;
  color: #666;
  font-size: 1.4rem;
  display: block;
}
.airport-banner {
  padding: 10px;
}
.airport-banner .swiper-container {
  height: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.airport-banner .swiper-slide a {
  width: 100%;
  display: block;
}
.airport-banner .swiper-slide img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.airport-banner .swiper-pagination-bullets {
  bottom: 2% !important;
}
.airport-banner .swiper-pagination-bullet-active {
  background: #fff;
}
.airport-finish .page-finish {
  background-image: url('../img/airport_guess_finish.png');
}
.airport-finish .finish-content {
  top: 41%;
}
.airport-finish .finish-content .fc-header .avatar {
  width: 75px;
}
@media (max-width: 320px) {
  .airport-finish .finish-content .fc-header .avatar {
    width: 65px;
  }
}
.airport-finish .finish-content .fc-content {
  text-align: center;
  margin-top: 0;
}
.airport-finish .finish-content .fc-content img {
  box-shadow: none;
  margin-top: -2px;
}
.airport-finish .finish-content .fc-footer {
  padding-top: 4%;
  background: none;
  text-align: center;
}
.airport-finish .finish-content .fc-footer:before,
.airport-finish .finish-content .fc-footer:after {
  content: " ";
  display: table;
}
.airport-finish .finish-content .fc-footer:after {
  clear: both;
}
@media (min-width: 376px) {
  .airport-finish .finish-content .fc-footer {
    padding-top: 6%;
  }
}
@media (min-width: 470px) {
  .airport-finish .finish-content .fc-footer {
    padding-top: 10%;
  }
}
@media (min-width: 768px) {
  .airport-finish .finish-content .fc-footer {
    padding-top: 20%;
  }
}
.airport-finish .finish-content .fc-footer a {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 5%;
}
