.page-finish {
  position: relative;
  width: 100%;
  padding-bottom: 178%;
  background: url("../img/guess_finish.png") 0 0 no-repeat;
  background-size: cover;
}
.finish-content {
  position: absolute;
  top: 49%;
  left: 10%;
  right: 10%;
}
.finish-content .fc-header:before,
.finish-content .fc-header:after {
  content: " ";
  display: table;
}
.finish-content .fc-header:after {
  clear: both;
}
.finish-content .fc-header .avatar {
  float: left;
  width: 80px;
  margin-left: 10px;
}
@media (max-width: 360px) {
  .finish-content .fc-header .avatar {
    width: 60px;
  }
}
.finish-content .fc-header .info {
  margin-left: 100px;
  color: #666;
}
.finish-content .fc-header .info p {
  margin: 5px 0;
}
.finish-content .fc-header .info .nick {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.finish-content .fc-header .info .score {
  font-size: 1.6rem;
}
.finish-content .fc-header .info .score strong {
  color: #fc6656;
}
.finish-content .fc-header .info .play {
  font-size: 1.4rem;
}
.finish-content .fc-header .info .play span {
  color: #fc6656;
}
@media (max-width: 360px) {
  .finish-content .fc-header .info {
    margin-left: 75px;
  }
  .finish-content .fc-header .info p {
    margin: 2px 0;
  }
  .finish-content .fc-header .info .nick {
    font-size: 1.1rem;
  }
  .finish-content .fc-header .info .score {
    font-size: 1.4rem;
  }
  .finish-content .fc-header .info .play {
    font-size: 1.2rem;
  }
}
.finish-content .fc-content {
  width: 85%;
  margin: 10px auto;
}
.finish-content .fc-content img {
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.finish-content .fc-footer {
  padding-top: 12%;
  background: url("../img/finish_text.png") top center no-repeat;
  background-size: 90%;
}
.finish-content .fc-footer a {
  display: block;
  width: 60%;
  margin: 10px auto 0 auto;
}
.finish-content .fc-footer img {
  width: 100%;
}
/*finish null*/
.page-finish-null {
  position: relative;
  width: 100%;
  padding-bottom: 178%;
  background: url("../img/guess_finish_null.png") 0 0 no-repeat;
  background-size: cover;
}
.page-finish-phone {
  position: relative;
  width: 100%;
  padding-bottom: 178%;
  background: url("../img/guess_finish_phone.jpg") 0 0 no-repeat;
  background-size: cover;
}
.finish-phone-content {
  position: absolute;
  top: 67%;
  left: 10%;
  right: 10%;
}
.finish-phone-content .finish-phone-content-relative {
  position: relative;
}
.finish-phone-content .form-input {
  display: block;
  position: relative;
  width: 59%;
  padding-bottom: 12%;
  margin-top: 4%;
  margin-left: 28%;
  border-radius: 20px;
  background: transparent;
}
.finish-phone-content .form-input input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}
.finish-phone-content .form-input.input-code {
  margin-top: 10%;
  width: 36%;
}
.finish-phone-content .form-code-btn {
  position: absolute;
  right: 5%;
  width: 27%;
  top: 36%;
  padding-bottom: 13%;
  z-index: 9;
  background: transparent;
  text-align: left;
  font-size: 10px;
  color: #333;
}
@media (min-width: 375px) {
  .finish-phone-content .form-code-btn {
    font-size: 12px;
  }
}
@media (min-width: 500px) {
  .finish-phone-content .form-code-btn {
    font-size: 15px;
  }
}
.finish-phone-content .form-code-btn span {
  display: none;
  position: absolute;
  padding-top: 12%;
  width: 120%;
}
.finish-phone-content .form-code-btn.disabled {
  background: #fff;
}
.finish-phone-content .form-code-btn.disabled span {
  display: block;
}
.finish-phone-content .form-submit-btn {
  text-indent: -99999em;
  height: 0;
  background: transparent;
  width: 53%;
  padding-bottom: 14%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14%;
}
