/*猜题页面*/
.qc-guess-box {
  margin: 10px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 60px;
}
.qc-guess-box .guess-box-header {
  padding: 10px;
}
.qc-guess-box .guess-box-header:before,
.qc-guess-box .guess-box-header:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-header:after {
  clear: both;
}
.qc-guess-box .guess-box-header .header-avatar {
  float: left;
  width: 70px;
}
.qc-guess-box .guess-box-header .header-info {
  margin-left: 80px;
}
.qc-guess-box .guess-box-header .header-info .author-info {
  font-size: 1.6rem;
  padding: 8px 0;
}
.qc-guess-box .guess-box-header .header-info .author-info .name {
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.qc-guess-box .guess-box-header .header-info .author-info .gender {
  display: inline-block;
  vertical-align: middle;
  font-family: "FontAwesome";
  padding: 0 5px;
}
.qc-guess-box .guess-box-header .header-info .author-info .gender.male {
  color: #86c9f2;
}
.qc-guess-box .guess-box-header .header-info .author-info .gender.male:before {
  content: "\f222";
}
.qc-guess-box .guess-box-header .header-info .author-info .gender.female {
  color: #ed4125;
}
.qc-guess-box .guess-box-header .header-info .author-info .gender.female:before {
  content: "\f221";
}
.qc-guess-box .guess-box-header .header-info .aside-info {
  font-size: 1rem;
  color: #999;
  padding-top: 10px;
}
.qc-guess-box .guess-box-header .header-info .aside-info .total {
  float: right;
}
.qc-guess-box .guess-box-type .type-0 {
  padding: 8px 10px;
  text-align: center;
  color: #fc6656;
  font-size: 1.6rem;
  background-image: -webkit-radial-gradient(circle, #fcd35d, #fcc449);
  background-image: radial-gradient(circle, #fcd35d, #fcc449);
  background-repeat: no-repeat;
}
.qc-guess-box .guess-box-type .type-0 strong {
  font-weight: 400;
}
.qc-guess-box .guess-box-type .type-1 {
  padding: 8px 10px;
  text-align: center;
  color: #fffab7;
  font-size: 1.6rem;
  background-image: -webkit-radial-gradient(circle, #fa4526, #ed4125);
  background-image: radial-gradient(circle, #fa4526, #ed4125);
  background-repeat: no-repeat;
}
.qc-guess-box .guess-box-type .type-1 strong {
  font-weight: 400;
}
.qc-guess-box .guess-box-type .type-2 {
  padding: 8px 10px;
  text-align: center;
  color: #fffab7;
  font-size: 1.6rem;
  background-image: -webkit-radial-gradient(circle, #fa4526, #ed4125);
  background-image: radial-gradient(circle, #fa4526, #ed4125);
  background-repeat: no-repeat;
}
.qc-guess-box .guess-box-type .type-2 strong {
  font-weight: 400;
}
.qc-guess-box .guess-box-type .type-3 {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.qc-guess-box .guess-box-type .type-3 > section {
  position: relative;
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #bebebe;
}
.qc-guess-box .guess-box-type .type-3 > section .content {
  position: relative;
  z-index: 1;
  padding: 8px;
}
.qc-guess-box .guess-box-type .type-3 > section .content span {
  display: inline-block;
  vertical-align: middle;
}
.qc-guess-box .guess-box-type .type-3 > section.win:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  content: "";
  background: #fb9084;
  border-right: 1px solid #fff;
  transform: skewX(-20deg);
  transform-origin: top left;
}
.qc-guess-box .guess-box-article {
  padding: 15px;
}
.qc-guess-box .guess-box-article:before,
.qc-guess-box .guess-box-article:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-article:after {
  clear: both;
}
.qc-guess-box .guess-box-article article {
  font-size: 1.4rem;
  word-break: break-all;
}
.qc-guess-box .guess-box-article footer {
  margin: 12px 0;
  text-align: center;
  font-size: 1rem;
  color: #999;
}
.qc-guess-box .guess-box-res:before,
.qc-guess-box .guess-box-res:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-res:after {
  clear: both;
}
.qc-guess-box .guess-box-res .res-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}
.qc-guess-box .guess-box-res .res-list:before,
.qc-guess-box .guess-box-res .res-list:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-res .res-list:after {
  clear: both;
}
.qc-guess-box .guess-box-res .res-list > li {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 1px;
}
.qc-guess-box .guess-box-res .res-list > li.nothing {
  padding-bottom: 1px;
}
.qc-guess-box .guess-box-res .res-list > li.img {
  padding-bottom: 100%;
}
.qc-guess-box .guess-box-res .res-list > li.video {
  padding-bottom: 70%;
}
.qc-guess-box .guess-box-res .res-list > li.audio {
  padding-bottom: 50px;
}
.qc-guess-box .guess-box-res .res-list > li.game {
  padding-bottom: 100%;
}
.qc-guess-box .guess-box-res .res-list > li .res-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-list > li .res-box img {
  width: 98%;
  height: auto;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-list > li .res-box video {
  width: 98%;
  height: 98%;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-list > li .res-box audio {
  width: 98%;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-list > li .res-box:after {
  display: inline-block;
  content: " ";
  height: 100%;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-list.list-2 > li.img {
  width: 50%;
  padding-bottom: 50%;
}
.qc-guess-box .guess-box-res .res-list.list-3 > li.img {
  width: 33.333%;
  padding-bottom: 33.333%;
}
.qc-guess-box .guess-box-res .res-answer {
  padding-top: 10px;
  background: #fff;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-0 .answer-input-area {
  padding: 10px;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-0 .answer-input-area textarea {
  display: block;
  width: 100%;
  resize: none;
  min-height: 5em;
  border: 1px solid #ddd;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-0 .answer-input-area textarea:active,
.qc-guess-box .guess-box-res .res-answer .answer-type-0 .answer-input-area textarea:focus {
  border: 1px solid #fc6656;
  outline: none;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li:before,
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li:after {
  clear: both;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li > .main,
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li > .aside {
  display: inline-block;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li .main {
  font-size: 1.4rem;
  width: 80%;
  line-height: 2.5em;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li .main .code {
  padding-right: 5px;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li .aside {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #333;
  font-size: 1rem;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li .aside aside {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #fad288;
  margin-left: 5px;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li .aside i {
  font-size: 2.5em;
  color: #999;
  padding-right: 5px;
  font-weight: normal;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li:after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li:last-child {
  border-bottom: 1px solid #ddd;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.active,
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.choose {
  background: #fad288;
  color: #fff;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.active .aside aside,
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.choose .aside aside {
  background: #999;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.active .aside i,
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.choose .aside i {
  color: #fff;
}
.qc-guess-box .guess-box-res .res-answer .answer-type-1 > ol > li.choose .main .answer:after {
  content: '(我的)';
  padding-left: 4px;
  display: inline;
}
.qc-guess-box .guess-box-comment {
  background: #ededed;
  padding: 15px 10px;
}
.qc-guess-box .guess-box-comment:before,
.qc-guess-box .guess-box-comment:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-comment:after {
  clear: both;
}
.qc-guess-box .guess-box-btn {
  padding: 15px 10px;
}
.qc-guess-box .guess-box-btn:before,
.qc-guess-box .guess-box-btn:after {
  content: " ";
  display: table;
}
.qc-guess-box .guess-box-btn:after {
  clear: both;
}
.qc-guess-box .guess-box-btn .guess-btn {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.qc-guess-box .guess-box-btn .guess-btn img {
  width: 100%;
}
.qc-guess-footer {
  background: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.qc-guess-footer .guess-footer-wp {
  position: relative;
}
.qc-guess-footer .guess-btn-wp {
  position: relative;
}
.qc-guess-footer .guess-btn-wp .guess-btn {
  display: inline-block;
  padding: 5px 10px 5px 14px;
  vertical-align: middle;
  color: #fff;
  background: #f07a6e;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 4px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.qc-guess-footer .guess-btn-wp .guess-btn.guess-btn-ask {
  background: #fad288;
}
.qc-guess-footer .guess-btn-wp .guess-btn.guess-btn-answer {
  background: #f07a6e;
}
.qc-guess-footer .guess-btn-wp .guess-btn.hide {
  display: none;
}
.qc-guess-footer .guess-app {
  position: absolute;
  left: 10px;
  top: 10px;
  line-height: 1.3;
}
.qc-guess-footer .guess-app a {
  display: block;
  text-decoration: none;
  color: #333;
  padding-left: 36px;
  background: url("../img/uguess_logo.png") 0 0 no-repeat;
  background-size: contain;
}
.qc-guess-footer .guess-app p {
  padding: 0;
  margin: 0;
}
.qc-guess-pic-wp {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
}
.qc-guess-pic-wp .swiper-container {
  width: 100%;
  height: 100%;
}
.qc-guess-pic-wp .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
}
.qc-guess-pic-wp .swiper-container .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.qc-guess-pic-wp .swiper-container .swiper-pagination {
  bottom: 20px;
}
.guess-footer-type {
  margin-top: -10px;
}
.guess-footer-type:before,
.guess-footer-type:after {
  content: " ";
  display: table;
}
.guess-footer-type:after {
  clear: both;
}
.guess-footer-type .footer-u {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-bottom: 10px;
}
.guess-footer-type .footer-u img {
  width: 100%;
}
.guess-footer-type .footer-text {
  position: relative;
  margin-left: 35%;
  margin-right: 30px;
  margin-top: 35px;
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 10px;
  line-height: 1.5;
}
.guess-footer-type .footer-text:before {
  position: absolute;
  left: -24px;
  top: 40%;
  content: "";
  height: 0;
  line-height: 0;
  border: 8px dashed transparent;
  border-right: 16px solid #fff;
}
.guess-footer-type .footer-text:after {
  position: absolute;
  left: -22px;
  top: 40%;
  content: "";
  height: 0;
  line-height: 0;
  border: 8px dashed transparent;
  border-right: 16px solid #140a3b;
}
.guess-footer-type .footer-text p {
  margin: 0;
}
@media (max-width: 360px) {
  .guess-footer-type .footer-text {
    font-size: 1.2rem;
    padding: 10px;
  }
}
.guess-zx {
  width: 90%;
  margin: 0 auto;
  display: inline-block;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 48%;
  top: 50%;
}
.guess-zx .zx-close {
  position: absolute;
  width: 12%;
  padding-bottom: 12%;
  top: -3%;
  right: -4%;
  background: url("../img/zx_close.png") 0 0 no-repeat;
  background-size: 100%;
}
.guess-zx .zx-bg {
  padding-top: 50%;
}
.guess-zx .zx-bg.zx-right {
  background: url("../img/guess_right.png") 0 0 no-repeat;
  background-size: 100%;
}
.guess-zx .zx-bg.zx-wrong {
  background: url("../img/guess_wrong.png") 0 0 no-repeat;
  background-size: 100%;
}
.guess-zx .zx-content {
  margin-top: -1px;
  background: #fff;
  padding: 15px;
  margin-left: 4.5%;
  border-radius: 0 0 10px 10px;
}
.guess-zx .zx-content .zx-text {
  margin-top: 10px;
  color: #666;
  font-size: 1.3rem;
  word-break: break-all;
}
.guess-zx .zx-content .zx-media {
  margin-top: 10px;
  text-align: center;
}
.guess-zx .zx-content .zx-media img {
  width: 100%;
  max-height: 160px;
}
.guess-zx .zx-content .zx-media audio {
  display: inline-block;
  width: 80%;
}
.guess-zx .zx-content .zx-media video {
  position: relative;
  display: block;
  width: 100%;
  max-height: 160px;
  vertical-align: middle;
}
.guess-zx .zx-content .zx-media video:before {
  position: absolute;
  content: " ";
  width: 25%;
  padding-bottom: 25%;
  background: url("../img/bofang.png");
  background-size: 100%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.guess-zx .zx-type {
  padding-bottom: 12%;
  background: url("../img/zx_imgtext.png") top center no-repeat;
  background-size: 45%;
}
.guess-zx .video .zx-type {
  background: url("../img/zx_video.png") top center no-repeat;
  background-size: 45%;
}
.guess-zx .img .zx-type {
  background: url("../img/zx_img.png") top center no-repeat;
  background-size: 45%;
}
.guess-zx .text .zx-type {
  background: url("../img/zx_text.png") top center no-repeat;
  background-size: 45%;
}
.guess-zx .audio .zx-type {
  background: url("../img/zx_audio.png") top center no-repeat;
  background-size: 45%;
}
.swiper-pic-bg:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
}
/*评论*/
.guess-comment-icon {
  display: inline-block;
  padding: 10px 15px;
  color: #555;
}
.guess-comment-icon .fa {
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
}
.guess-comment-icon .comment-num {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  padding-left: 5px;
}
.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #999;
}
.comment-list li {
  padding: 10px 0;
}
.comment-list li:before,
.comment-list li:after {
  content: " ";
  display: table;
}
.comment-list li:after {
  clear: both;
}
.comment-list li + li {
  border-top: 1px solid #ccc;
}
.comment-list .comment-avatar {
  float: left;
  width: 50px;
}
.comment-list .comment-content {
  padding-top: 3px;
  margin-left: 60px;
  font-size: 14px;
}
.comment-list .comment-user span {
  color: #fc6656;
}
.comment-list .comment-comment {
  color: #333;
}
.comment-input {
  display: none;
  padding: 20px;
  background: #fff;
}
.comment-input:before,
.comment-input:after {
  content: " ";
  display: table;
}
.comment-input:after {
  clear: both;
}
.comment-input .input {
  position: relative;
  float: left;
  display: inline-block;
  width: 78%;
}
.comment-input .input input {
  border-radius: 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #999;
  outline: none;
  width: 100%;
}
.comment-input .input input:active,
.comment-input .input input:focus {
  border-color: #00a6f0;
}
.comment-input .input i {
  display: none;
  content: '取消';
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  background: #ccc;
  font-style: normal;
}
.comment-input .input.replay i {
  display: block;
}
.comment-input .input.replay input {
  padding-right: 5em;
}
.comment-input .comment-submit {
  border-radius: 10px;
  background: #fc6656;
  color: #fff;
  display: inline-block;
  width: 18%;
  float: right;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.comment-input .comment-submit.active {
  background: #999;
  cursor: not-allowed;
}
